extends layout 
block content 
    p Guess it
    div 
        button#Char1 #{C1}
        button#Char2 #{C2}
        button#Char3 #{C3}
        button#Char4 #{C4}
    div 
        button#Submit Submit 
        button#Reject Reject 
    div 
        p#Element
    script(type="text/javascript", src="./Client.js")